{% extends 'UserSide/base.html' %}
{% block title %} Home {% endblock %}

{% block content %}

<style>
   
    .gallery img {
      border-radius: 8px;
      box-shadow: 0 0 16px #333;
      transition: all 1.5s ease;
    }
    .gallery img:hover {
      box-shadow: 0 0 32px #333;
    }
    .gallery .content {
      padding: 4px;
    }
    .gallery .gallery-item {
      transition: grid-row-start 300ms linear;
      transition: transform 300ms ease;
      transition: all 0.5s ease;
      cursor: pointer;
    }
    .gallery .gallery-item:hover {
      transform: scale(1.025);
    }
    
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

</style>


<div class="container-fluid ">

    <div class="row">
        <div class="col-md-12 p-2">
            <div class="alime-projects-menu">
                <div class="portfolio-menu text-center align-items-center" id="myBtnContainer">
                    <button name="option" type="submit" id="all" class="btn header-navs" >All</button>
                    <button name="option" type="submit" id="free" class="btn header-navs">Free</button>
                    <button name="option" type="submit" id="paid" class="btn header-navs">Paid</button>
                    <button name="option" type="submit" id="top" class="btn header-navs">Top Rated</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-2">
          <div class="scrollmenu">
            {% for tags in tags %}
                <a id="similar-images" style="text-transform:uppercase" href="{% url 'tag_filter' tags.tag %}">{{tags.tag}}</a>
            {% endfor %}
          </div>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="unlist p-5 post-wrapper gallery" >
            {% for image in contents %}
            <listli class="p-2 {{image.price}} gallery-item post-box">
                <a href="{% url 'view_single' image.id %}"><img src="{{image.image_thumbnail.url}}" class="wow-image" alt="thumbnail"></a>
            </listli>
            {% endfor %}
            <!--  Adding an empty <listli> here so the final photo doesn't stretch like crazy.  -->
            <listli></listli>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center " data-wow-delay="700ms">
          <a id="loadmoreBtn" href="" class="btn btn-dark">View More</a>
        </div>
    </div>

</div>


<script>
    let currentFilter = 'all';
    $(document).ready(function(){
      $("#loadmoreBtn").on('click', function(e){
        e.preventDefault();
        e.stopPropagation();
        var _currentResult= $(".post-box").length;
        loadData(_currentResult, currentFilter, true);
      });
    });

    $("#all").on('click', function(e){
        $(".header-navs").removeClass("active"); 
        $("#all").addClass("active");        
        currentFilter = 'all';
        loadData(0, currentFilter);
      });

      $("#free").on('click', function(e){
        $(".header-navs").removeClass("active");  
        $("#free").addClass("active");        
        currentFilter = 'free';
        loadData(0, currentFilter);
      });

      $("#paid").on('click', function(e){
        $(".header-navs").removeClass("active"); 
        $("#paid").addClass("active");        
        currentFilter = 'paid';
        loadData(0, currentFilter);
      });

      $("#top").on('click', function(e){
        $(".header-navs").removeClass("active"); 
        $("#top").addClass("active");        
        currentFilter = 'top';
        loadData(0, currentFilter);
      });

    function loadData(_currentResult, filter, append){
      $.ajax({
          url:"{% url 'load_more' %}",
          type: 'GET',
          data:{
            'offset': _currentResult,
            'filter': filter,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          dataType:'json',
          beforeSend:function(){
            $("#loadmoreBtn").addClass('disabled').text('Loading...')
          },
          success:function(res){
            var _html='';
            var json_data=$.parseJSON(res.posts);
            $.each(json_data, function(index, data){
              _html+='<listli class="p-2 post-box">\
                <a href="/view-single/'+data.pk+'"><img src=/image/'+data.fields.image+' class="wow-image" alt="thumbnail"></a>\
            </listli>';
            });
            if(append){
            $(".post-wrapper").append(_html);
            }else{
            $(".post-wrapper").html(_html);}
            var _countTotal=$(".post-box").length;
            console.log(_countTotal + "total count");
            console.log(res.totalResult + "total REaulst");
            if(_countTotal==res.totalResult){
                $("#loadmoreBtn").remove(); 
            }else{
                $("#loadmoreBtn").removeClass('disabled').html('Load More') 
            }
          }
        });
    }

  </script>


{% endblock %}
