{% extends 'UserSide/base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="container bootstrap snippet mb-5">
    <div class="row">
        <div class="col-sm-12">
            <form class="form" action="{% url 'edit_userProfile' %}" method="POST" id="registrationForm"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="container">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-xs-6 form-group image-preview" id=imagePreview>
                                    {% for x in profile %}
                                    <img style="height:20em !important; width:20em !important;" id="image"
                                        name="imageInput" src="{{x.ImageURL}}"
                                        class="image-preview__image avatar img-circle img-thumbnail" alt="avatar">
                                    <span class="image-preview__default-text"></span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="user_image">
                                        <h6 style="color:#FF5722;">Upload Profile Image</h6>
                                    </label>
                                    <input type="file" name="imageInput" id="imageInput" value="Upload" placeholder=""
                                        class="foo">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="first_name">
                                        <h6 style="color:#FF5722;">First name</h6>
                                    </label>
                                    <input type="text" class="form-control" name="first_name" id="first_name"
                                        value="{{user.first_name}}" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="mobile">
                                        <h6 style="color:#FF5722;">Mobile</h6>
                                    </label>
                                    {% for x in profile %}
                                    <input type="text" class="form-control" name="mobileNo" id="mobile"
                                        value="{{x.mobile_number}}" readonly>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h6 style="color:#FF5722;">Email</h6>
                                    </label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        value="{{user.email}}" readonly>
                                </div>
                            </div>

                            {% if user.is_staff == True %}
                            <div class="form-group">

                                <div class="col-xs-6">
                                    <label for="email">
                                        <h6 style="color:#FF5722;">Bio</h6>
                                        <span style="font-size: smaller; color: gray;">Your Bio is Public. You can change it here ..!</span>
                                    </label>
                                    <textarea type="text" id="bio" class="form-control" name="bio" rows="4" cols="50">{{creator_bio.bio}}</textarea>
                                </div>
                            </div>
                            {% endif %}

                            <div class="form-group">
                                <div class="col-xs-12 text-center">
                                    <br>
                                    <button class="btn btn-md btn-success" type="submit"> Save Changes</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!---Col sm -12-->
    </div>
    <!--row-->

    <hr>

    <div class="row p-2">
        <div class="col-md-4">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Credits Available</h5>
                    <p class="card-text">{{credits_available.credits_available}}</p>
                    <a href="{% url 'payment_page' %}" class="btn btn-primary">Buy More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Creator Account</h5>
                    {% if request.user.is_staff == True %}
                    <p class="card-text">
                        Creator Account is Activated.
                    </p>
                        <a href="{% url 'creator' %}" class="btn btn-primary">Dashboard</a>
                        <a href="{% url 'deactivate_creator' user.id %}" class="btn btn-danger">Deactivate</a>
                        {% else %}
                    <p>
                        Want to be a creator and Earn ..?
                    </p>
                        <a href="{% url 'activate_creator' %}" class="btn btn-primary">Activate</a>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Professional</h5>
                    <p class="card-text">Buy this Professional credits option for only 60 dollars. Download upto 30
                        images.</p>
                    <a href="{% url 'payment_page' %}" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>

    </div>


</div>
<!---/container-->

<!----Image Preview While selection --->
<script>
    const imageInput = document.getElementById("imageInput");
    const previewContainer = document.getElementById("imagePreview");
    const previewImage = previewContainer.querySelector(".image-preview__image");
    const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

    imageInput.addEventListener("change", function () {
        const file = this.files[0];
        // var image = ("image", document.getElementById("image").files[0])
        // // restrict other Filetypes

        // var ext = image.value.split(".")
        // ext = ext[ext.length - 1].toLowerCase();
        // var arrayExtensions = ["jpg", "png", "svg", "jpeg"];
        // // END RESTRRICT FILE TYPE

        // if (arrayExtensions.lastIndexOf(ext) == -1) {
        //     $('#message').html('Only Image Files are Accepted')
        // }


        if (file) {
            const reader = new FileReader();

            previewDefaultText.style.display = "none";
            previewImage.style.display = "block";

            reader.addEventListener("load", function () {
                console.log(this);
                previewImage.setAttribute("src", this.result);

            });

            reader.readAsDataURL(file);

        } else {
            previewDefaultText.style.display = null;
            previewImage.style.display = null;
            previewImage.setAttribute("src", "{{product.ImageURL}}");
        }
    });
</script>


{% endblock %}