

  .unlist {
    display: flex;
    flex-wrap: wrap;
  }
  
  listli {
    height: 40vh;
    flex-grow: 1;
  }
  
  listli:last-child {
    flex-grow: 10;
  }
  
  .wow-image {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
  }
  
  
  @media (max-aspect-ratio: 1/1) {
    listli {
      height: 30vh;
    }
  }
  
  
  @media (max-height: 480px) {
    listli {
      height: 80vh;
    }
  }
  
  
  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .unlist {
      flex-direction: row;
    }
  
    listli {
      height: auto;
      width: 100%;
    }
    .wow-image {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
    }
  }
  