{% extends 'AdminPanel/base.html' %}
{% load static %}
{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Manage Watermarks</h1>
          </div>
          <hr>
          <!-- Content Row -->
          <div class="row">
              <div class="col-md-6">
                <h5 style="text-decoration-line: underline;">Add Watermark</h5>
                <div class="col-xs-12">
                    <div class="card-body text-center">
                      <span id="message" style="color: red; text-align: center;"></span>
                      <form enctype="multipart/form-data">
                        <div class="form-group">
                          <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                        </div>
      
                        <label>Upload Watermark</label>
                        <input type="file" name="image" id="image" value="Upload" placeholder=""
                        class="foo" accept="image/*" required style="display: none;">
                        <img style="height: 2em; width: 2em;" id="upload-icon" onclick="openImage()" src="{% static 'image/upload-icon.png' %}">
                        <br>
                        <button type="button" id="upload" class="btn btn-primary shadow-2 mb-4">Add Image</button>
                      </form>
                    </div>
                  </div>
    
                  <div class="col-xs-12">
                    <div class="form-group image-preview" id=imagePreview>
                      <img id="image"
                          name="image" src="{{x.ImageURL}}"
                          class="image-preview__image avatar img-circle img-thumbnail" alt="Choose an Image for Preview">
                      <span class="image-preview__default-text"></span>
                  </div>
                  </div>
                  
              </div>


              <div class="col-md-6" style="border-left:1px solid rgb(202, 202, 202);height:500px">
                  <h5 style="text-decoration-line: underline;">Watermarks</h5>
                <div class="box box-primary">
                    <div class="box-body">
                        <table width="100%" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Watermark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for watermark in watermarks %}
                                    <td>{{watermark.name}}</td>
                                    <td>
                                        <img style="height: 20em; max-width: 30em; border: 1px solid black;" src="{{watermark.ImageURL}}">
                                    </td>
                                    {% empty %}
                                    <h6 style="color: red;">No Watermark Added </h6>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
          </div>

                   

        </div>
        <!-- /.container-fluid -->


        
        <script src="{% static 'AdminPanel/vendor/jquery/jquery.min.js' %}"></script>
        <script>

        function openImage(){
            $('#image').click()
        }

          $('#upload').click(function () {

            var letters = !/[^a-zA-Z]/; 
            var formData = new FormData();
            formData.append("name", document.getElementById("name").value);
            formData.append("image", document.getElementById("image").files[0]);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
      
      
            // restrict other Filetypes
            var ext = image.value.split(".")
            ext = ext[ext.length - 1].toLowerCase();
            var arrayExtensions = ["png"];
            // END RESTRRICT FILE TYPE
      
            if (name.value == '') {
              console.log("name")
              $('#message').html('Enter Name')
            } else if (image.value == '') {
              $('#message').html('Upload Image')
            } else if (arrayExtensions.lastIndexOf(ext) == -1) {
              $('#message').html('Only PNG Files are Accepted')
            } else {
              $.ajax({
                url: '/adminpanel/add-watermark/',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'JSON',
                success: function (data) {
                  if (data == 'success') {
                    window.location.replace('/adminpanel/manage-watermark/')
                  }
                }
              })
      
            }
          })
      
        </script>

<!----Image Preview While selection --->
<script>
  const image = document.getElementById("image");
  const previewContainer = document.getElementById("imagePreview");
  const previewImage = previewContainer.querySelector(".image-preview__image");
  const previewDefaultText = previewContainer.querySelector(".image-preview__default-text");

  image.addEventListener("change", function () {
      const file = this.files[0];
      if (file) {
          const reader = new FileReader();

          previewDefaultText.style.display = "none";
          previewImage.style.display = "block";

          reader.addEventListener("load", function () {
              console.log(this);
              previewImage.setAttribute("src", this.result);

          });

          reader.readAsDataURL(file);

      } else {
          previewDefaultText.style.display = null;
          previewImage.style.display = null;
          previewImage.setAttribute("src", "{{product.ImageURL}}");
      }
  });
</script>

{% endblock %}